@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter";
}

main{
    width: 100vw;
    height: 100vh;
    background-color: #343541;
    display: flex;
}

.sidebar{
    width: 70px;
    height: 100%;
    font-size: 10pt;
    background-color: #202123;
    box-sizing: border-box;
    transition: ease-in-out 0.3s;
    white-space: nowrap;
    color: #fff;
    overflow: hidden;
}

.sidebar:hover{
    width: 350px;
    transition: ease-in-out 0.3s;
}

.sidebar:hover > .item > .text{
    opacity: 1;
}

.chatnovo{
    width: 285px;
    height: 30%;
    padding-top: 4px;
    padding-left: 15px;
    margin-bottom: 12px;
    border: 1px solid #202123;
    background-color: none;
    border-radius: 6px;
    font-size: 12pt;
}

.sidebar:hover > .top > .chatnovo{
    border-color: #444654;
    transition: ease-in-out 0.5s;
}

.top{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.item{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.bot{
    margin-top: 666px;
    padding: 25px;
}

.item .icon{
    width: 14px;
    height: 30px;
    margin-right: 40px;
    margin-left: 2.5px;
    flex-shrink: 0;
    cursor: pointer;
}

.item .text{
    opacity: 1;
    transition: ease-in-out 0.3s;
    transition-delay: .2s;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
}

.container{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.container > h1{
    color: white;
    font-family: inter;
    font-size: 34px;
    margin-top: 160px;
}

.container > .Card{
    display: flex;
    width: 75%;
    height: 65%;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.container > .Card > .left > .jg1{
    width: 300px;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 200;
    letter-spacing: 0.5px;
    font-size: 11pt;
    margin-top: -80px;
}

.container > .Card > .left > .jg1 > h2{
    margin-top: 15px;
}

.container > .Card > .left> .adc1 > .sup{
    width: 300px;
    height: 75px;
    background-color: #444654;
    align-items: center;
    padding-top: 17px;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    font-size: 13pt;
}

.container > .Card > .mid > .jg2{
    width: 300px;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 200;
    letter-spacing: 0.5px;
    font-size: 11pt;
    margin-top: -80px;
}

.container > .Card > .mid > .jg2 > h2{
    margin-top: 15px;
}

.container > .Card > .mid> .adc2 > .sup{
    width: 300px;
    height: 75px;
    background-color: #444654;
    align-items: center;
    padding-top: 17px;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    font-size: 13pt;
}

.container > .Card > .right > .jg3{
    width: 300px;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 200;
    letter-spacing: 0.5px;
    font-size: 11pt;
    margin-top: -55px;
}

.container > .Card > .right > .jg3 > img{
    width: 20px;
    height: 20px;
    filter: invert(100%);
}

.container > .Card > .right > .jg3 > h2{
    margin-top: 15px;
}

.container > .Card > .right> .adc3 > .sup{
    width: 300px;
    height: 75px;
    background-color: #444654;
    align-items: center;
    padding-top: 17px;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    font-size: 13pt;
}

.container > .Card > .right> .adc3 >#bugado{
    height: 100px;
}

.container > .submits{
    width: 768px;
    height: 48px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px 0px #303139;
    position: relative;
}

.container > .submits > input{
    width: 768px;
    height: 48px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #40414E;
    background-color: #40414E;
    padding-left: 10px;
    color: white;
    font-size: 12pt;
}

.container > .submits > img{
    width: 20px;
    top: 28%;
    left: 95.5%;
    position: absolute;
    cursor: pointer;
}


.container > .footer {
    width: 920px;
    height: 30px;
    display: flex;
    font-size: 9.5pt;
    text-decoration: none;
    color: #9A9B9F;
    font-family: inter;
    text-align: left;
    margin-top: 8px;
}

.container > .footer > a{
    color: #9A9B9F;
}