@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter";
}

main{
    width: 100vw;
    height: 100vh;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container{
    width: 320px;
    height: 810px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cabecalho{
    margin-top: 0px;
    align-items: center;
    flex-direction: column;
    display: flex;
    gap: 170px;
}

.cabecalho > img{
    width: 30px;
    height: 30px;
}

.cabecalho > h1{
    font-family: inter;
    font-size: 31px;
    font-weight: 700;
    color: #2E3339;
    text-align: center;
}

.card > label{
    color: #0FA47F;
}

.card > input{
    width: 320px;
    height: 54px;
    margin-bottom: 14px;
    border: 1px solid #C3C8CF;
    border-radius: 5px;
}

input:hover{
    border-color: #0FA47F;
}

.recaptcha > img{
    width: 320px;
    height: 79px;
}

#checklist{
    position: absolute;
    width: 56px;
    height: 29.4px;
    margin-top: 24.1px;
    border: none;
    cursor: pointer;
}

.card > button{
    width: 320px;
    height: 50px;
    background: #0FA47F;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
}

.card > p{
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    color: #2E3339;
    font-weight: 500;
}

.card > p > a{
    text-decoration: none;
    color: #0FA47F;
}

.footer > img{
    margin-top: 5px;
}

#imgGoogle{
    cursor: pointer;
}

#imgMicrosoft{
    cursor: pointer;
}
    